body{
    /* font-family: Black Ops One; */
    font-family: ole;
}
.ff{

    display: inline;
    background-color: orangered;
    
}
span{
    display: list-item;
    margin-left: 20px;
}
.
.f3{
    visibility: hidden;
}