.bl{
    color: blueviolet;
    font-size: 19px;
    font-synthesis-weight: 10px;
}

.card{
    height: 350px;
    width: 250px;
    border: 2px solid black;
    border-style: none;

    border-radius: 20px;
    padding: 10px;
    background-color: whitesmoke;
    margin: 20px;
}
.main{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card img{
    height: 150px;
    width: 200px;
    padding-left: 10%;
}

.card:hover{
    background-color: rgb(28, 145, 213);
    color: orange;
    
}