*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    overflow-x:hidden;
}

.Header{
    width:100%;
    height:90px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

/* Left Section */

.Hed1{
    display:flex;
    align-items:center;
    gap:35px;
}

.Hed1 img{
    width:50px;
    height:50px;
    cursor:pointer;
}

.Hed1 a{
    text-decoration:none;
    color:#000;
    font-size:15px;
    font-weight:700;
    letter-spacing:1px;
    transition:.3s;
}

.Hed1 a:hover{
    color:#00754A;
}

/* Right Section */

.Hed2{
    display:flex;
    align-items:center;
    gap:20px;
}

.Hed2 a{
    text-decoration:none;
    color:#000;
    font-size:15px;
    font-weight:600;
}

.Hed2 img{
    width:20px;
    height:20px;
    vertical-align:middle;
    margin-right:6px;
}

.Hed2 button{
    padding:8px 18px;
    border-radius:25px;
    border:none;
    cursor:pointer;
    font-size:14px;
    font-weight:600;
    transition:0.3s;
}

/* Sign In */

.Hed2 a:nth-child(2) button{
    background:#fff;
    color:#000;
    border:1px solid #000;
}

.Hed2 a:nth-child(2) button:hover{
    background:#000;
    color:#fff;
}

/* Join Now */

.Hed2 a:nth-child(3) button{
    background:#000;
    color:#fff;
}

.Hed2 a:nth-child(3) button:hover{
    background:#00754A;
}

.Header2{
    width:100%;
    height:90px;
    background:#024e0c;
    display:flex;
    text-align: center  ;
    align-items:center;
    padding:0 400px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}
.Header2 h2{
    color: white;
}
.Header2 button{
    padding:8px 18px;
    border-radius:25px;
    font-size:14px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}
.Header2 hover::button{
    background:#16ed0a;
    color:#fff;
    border:none;
}
.Banner{
    padding: 20px;
    width: 100%;
    height: 350px;
    display: flex;
}
.B1 img{
    width: 600px;
    height: 350px;
}
.B2 {
    background-color:#006242;
    text-align: center;
    width: 600px;
    height: 350px;

}
.B2 h2,
.B2 h4 {
    color: white;
    margin: 40px;
}
.B2 button{
    border-radius: 30%;
    border-color: whitesmoke;
    width: 50%;
    color: #f4f0f0;
    font-size: larger;
    background-color: transparent;
}
.lin{
    padding: 10px;
    display: flex;
    margin: 50px;
    gap: 50px;
    
}
.lin ul{
    list-style: none;
}
.lin a{
    color: #5e9e2b7e;
    text-decoration: none;
}
.lin a:hover{
    color: purple;
}
.foot a{
    text-decoration: none;
    color: black;
    margin: 5px;
}
.ft{
    font-size: larger
}



/* Reward css */
.Ban{
    height: 700px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #d4e9e2;
    display: flex;
}
.Ban h2{
    
    color: rgba(255, 0, 0, 0.628);
}
.Ba1 h1{
    font-size: 40px;
    
}
.Ban img{
    height: 600px;
    width: 450px;
    border-radius: 40px;
}
.Ba1{
    padding-top: 190px;
    margin: 40px;
    text-align: center;
    gap: 30px;
}
.Ba2{
    margin: 60px;
}
.Ba1 button{
    font-size: 20px;
    border-radius: 20px;
    background-color: #006242;
    color: wheat;
}
.Ban21{
    text-align: center;
}

.Ban22{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.Ban221{
    height: 150px;
    margin: 50px;
    text-align: center;
}
.Ca1{
    text-align: center;
}
/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
} */

body{
    background:#f6f3ef;
    padding:40px;
}

.main{
    max-width:1400px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content:center;
    gap:20px;
   
}

.card1,
.card2,
.card3{
    width:380px;
    min-height:560px;
    border-radius:35px;
    padding:40px 30px;
}

.card1{
    background:#006241;
    color:#fff;
}

.card2{
    background:#d2a652;
    color:#1e3d34;
}

.card3{
    background:#171717;
    color:#fff;
}

.card1 h2,
.card2 h2,
.card3 h2{
    text-align:center;
    font-size:42px;
    margin-bottom:15px;
}

.card1 h4,
.card2 h4,
.card3 h4{
    text-align:center;
    font-size:26px;
    margin-bottom:45px;
    font-weight:600;
}

.card1 ul,
.card2 ul,
.card3 ul{
    list-style:none;
}

.card1 li,
.card2 li,
.card3 li{
    font-size:12px;
    line-height:20px;
    margin: bottom 19px;
    display:flex;
    gap:18px;
    align-items:flex-start;
}

.card1 li::before{
    content:"✓";
    font-weight:bold;
}

.card2 li::before{
    content:"✓";
    font-weight:bold;
}

.card3 li::before{
    content:"✓";
    font-weight:bold;
}

.Tea{
    
     margin-left: 50px;
    margin-right: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    height: 200px;
    padding-bottom: 100px;
    background-color: #5aeea175;

}


.Tea2{
    padding-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    height: 250px;
    background-color: #5a89ee75;
    display: flex;

}
.Tea22{
    margin: 129px;
}

.par1{
    text-align: center;
}
.cardp img{
    height: 100px;
    width: 200px;
}
.par2{
    display: flex;
    gap: 20px;
    margin-left: 230px;
}
.cardp{
    width: 350px;
    border-radius: 20px;
    text-align: center;
    background-color: aliceblue;
}
.cardp button{
    border-radius: 10px;
    font-size: large;
}
.intro{
}
.int{
    margin: 80px;
    width: 1000px;
    height: 300px;
    background-color:#cda41d61;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.int1 img{
    margin: 30px;
    height: 200px;
    width: 400px;
    border-radius: 40px;

}
.intcard{

    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.intc{
    height: 200px;
    width: 100px;
    font-size: 8px;
}
.intc img{
    height: 50px;
    width: 50px;
}
.intro1{
    margin: 100px;
    text-align: center;
}

.Scan{
    margin: 0px;
    padding: 0px;
    height: 350px;
    width: 100%;
    background-color:#cda41d61 ;
    display: flex;
    justify-content: space-evenly;
}

.sc1{
    padding-top: 60px;
    margin: 40px;
    text-align: center;
}
.sc1 img{
    height: 100px;
    width: 100px;
}
.sc2 img{
    margin: 20px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.inf{
    margin: 20px;
    word-spacing: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}


/* Gift card page css */*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    
}

.rib{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 60px;
    padding: 100px 120px;
    background: #e9e4de;
}

/* Left & Right Sections */

.ri1,
.ri3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.ri1 img,
.ri3 img{
    width: 230px;
    height: auto;
    transform: rotate(-30deg);
    transition: 0.3s ease;
}

.ri1 img:hover,
.ri3 img:hover{
    transform: rotate(-30deg) scale(1.05);
}

/* Center Section */

.ri2{
    width: 400px;
    text-align: center;
    padding: 20px;
}

.ri2 img{
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
}

.ri2 h4{
    font-size: 24px;
    color: #00754A;
    font-weight: 600;
    margin-bottom: 15px;
}

.ri2 h1{
    font-size: 56px;
    line-height: 1.2;
    color: #1e3932;
    margin-bottom: 25px;
}

.ri2 p{
    font-size: 20px;
    line-height: 1.8;
    color: #444;
    margin-bottom: 15px;
}

.giftca{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   

}
.gfca {
    text-align: center;
}

.gfca img{
    height: 100px;
    width: 100px;


}
.gfca button{
    border-radius: 10px;
    font-size: 20px;
}